<%
function formatAmount(amount) {
  if (amount % 1000 === 0) {
    return (amount / 1000) + ' l';
  } else if (amount % 100 === 0) {
    return (amount / 100) + ' dl';
  } else if (amount % 10 === 0) {
    return (amount / 10) + ' cl';
  } else {
    return amount + ' ml';
  }
}
%>
<h1>
  <a href="/drinks/<%= locals.drink.id %>/"><%= locals.drink.primaryName %></a>
  <div class="btn-group">
    <a href="/drinks/<%= locals.drink.id %>/?edit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil" /></a>
    <form class="btn-group" action="/drinks/<%= locals.drink.id %>/" method="post">
      <input type="hidden" name="delete" value="delete" />
      <button name="id" value="<%= locals.drink.id %>" type="submit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove" /></button>
    </form>
  </div>
</h1>
<div class="row">
  <div class="col-md-6">
    <p>
      <strong><%= locals.drink.type %></strong><br/>
      <%= locals.drink.preparation %>
    </p>
  </div>
  <div class="col-md-6">
    <ul>
      <% locals.drink.ingredients.forEach(function(ingredient) { %>
      <li><%= formatAmount(ingredient.amount) %> <%= ingredient.name %></li>
      <% }); %>
    </ul>
  </div>
</div>
