<%
function formatAmount(amount) {
  if (amount % 1000 === 0) {
    return (amount / 1000) + ' l';
  } else if (amount % 100 === 0) {
    return (amount / 100) + ' dl';
  } else if (amount % 10 === 0) {
    return (amount / 10) + ' cl';
  } else {
    return amount + ' ml';
  }
}
%>
<h1>
  <a href="/drinks/<%= locals.drink.id %>/"><%= locals.drink.primaryName %></a>
  <% if (locals.user && locals.user.isAdmin) { %>
  <div class="btn-group">
    <a href="/drinks/<%= locals.drink.id %>/?edit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil" /></a>
    <form class="btn-group" action="/drinks/<%= locals.drink.id %>/?_method=delete" method="post">
      <button type="submit" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-remove" />
      </button>
    </form>
  </div>
  <% } %>
</h1>
<% if (locals.user && locals.user.isAdmin) { %>
<em><%= locals.drink.writer.email %></em>
<% } %>
<% if (locals.drink.additionalNames.length > 0) { %>
<small>Tunnetaan myös <%= locals.drink.additionalNames.length === 1 ? 'nimellä' : 'nimillä' %>: <%= locals.drink.additionalNames.join(', ') %></small>
<% } %>
<div class="row">
  <div class="col-md-6">
    <p>
      <strong><%= locals.drink.type.name %></strong><br/>
      <%= locals.drink.preparation %>
    </p>
  </div>
  <div class="col-md-6">
    <ul>
      <% locals.drink.ingredients.forEach(function(ingredient) { %>
      <li><%= formatAmount(ingredient.amount) %> <%= ingredient.name %></li>
      <% }); %>
    </ul>
  </div>
</div>
